


model-viewer {
    width: auto;
    max-width: 1200px;
    height: 360px;
    background-color: #ffffff;
    margin: 0 auto;
}

//customize our own hotspot

.Hotspot {
    background: url(../images/heart_hotspot2.svg) center no-repeat;
    border: 0;
    width: 75px;
    height: 48px;
}

.Hotspot:not([data-visible]) {
opacity: 0;
pointer-events: none;
  }
  
  .Hotspot:focus {
    border: 4px solid rgb(0, 128, 200);
    height: 32px;
    outline: none;
    width: 32px;
  }

  .HotspotAnnotation{
    visibility: hidden;
    background: #ffc4d8;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 12px;
    font-weight: 700;
    left: calc(60% + 1em);
    max-width: 110px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    width: max-content;
      img {
        width: 70%;
        margin: auto;
      }
  }

  #hotspot2 {
    top: -100%;
  }

  .Hotspot:not([data-visible]) > * {
    opacity: 0;
    pointer-events: none;
    transform: translateY(calc(-50% + 4px));
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .HotspotAnnotation p {
    color: #fff;
    line-height: 22px;
    font-weight: 300;
    text-shadow: #333 1px 0 2px;
  }
  
  .HotspotAnnotation h2 {
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: bold;
    text-shadow: #333 1px 0 2px;
    color: #fff;
  }

  #hotspot_bottom {
    top: -420%;
  }

  //cusomize progress bar 
  model-viwer::part(default-progress-bar) {
    height: 30px;
    background-color: #E89B36;
    
  }

  @media screen and (min-width: 768px) {
    model-viewer {
      margin-top: 80px;
      height: 540px;
    }
  }

  @media screen and (min-width: 1200px) {
    model-viewer {
      width: 80%;
    }

    .HotspotAnnotation {
      max-width: 159px;
      left: calc(100% + 1em);
      font-size: 18px;
      img {
        margin: auto;
      }
    }
    #hotspot1 {
      top: -100%;
    }
    .HotspotAnnotation h2 {
      font-size: 22px;
      margin-bottom: 5px;
    }

    #hotspot_bottom {
      top: -520%;
    }
  
  }


  