.feature-div {
    display: flex;
    justify-content: center;
}

.features {
    margin: auto;
    margin-top: 30px;
    width: 70%;
    text-align: center;
    img {
        width: 70%;
    }
    p {
        display: none;
    }
    h3 {
        margin: auto;
        font-size: 1em;
    }
}

@media screen and (min-width: 1200px) {
    .feature-div {
    display: flex;
    justify-items: center;
}

.features {
    margin: 93px 0px;
    width: 188px;
    text-align: center;
    img {
        height: unset;
        width: 90%;
    }
    p {
        display: block;
    }
    h3 {
        font-size: 1.25em;
    }
}
}
@media screen and (min-width: 1200px) {
    .features {
        margin: 93px 0px;
    }
}