.feature-div {
    display: flex;
    justify-content: center;
}

.features {
    margin: 93px 30px;
    width: 188px;
    text-align: center;
    img {
        height: 188px;
    }
}

@media screen and (min-width: 1200px) {
    .features {
        margin: 93px 70px;
    }
}