@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


 footer {
    height: 616px;
    @include m.gradient-3;
    .logo {
        width: 100%;
    }
    .letter-img {
        width: 30%;
        margin-top: 40px;
        margin-bottom: 20px;
        margin: auto;
    }
    H3 {
        color: white;
        margin-bottom: 17px;
    }
    label {
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
    }

    input {
        margin-bottom: 86px;
        height: 43px;
        border-radius: 30px;
        border: solid black 3px;
    }
 }

 ul {
    padding: 0;
    margin-top: 0;
    li {
    list-style: none;
    text-align: left;}
    color: white;
    font-size: 1.25em;
 }

 .footer-grid {
    width: 1200px;
    margin: auto;
    padding-top: 224px;
 }

 .socials {
    margin-top: 38.2px;
 }

