@use '../abstracts/variables' as v;

header {
    background-color: v.$primary-color;
    display: flex;
    width: 100%;
        .logo {
            height: 34px;
            margin-top: 15px;
            margin-bottom: auto;
            margin-left: 20px;
        }
        .desktop-ul {
            display: none;
        }

        a {
            text-decoration: none;
            color: v.$primary-color;        
            }
}

@media screen and (min-width: 1200px) {
    header {
            .logo {
                margin-top: 10px;
            }
                .desktop-ul {
            display: block;
            margin-top: 20px;
            li {
            margin-right: 40px;
            display: inline;
            a {
            color: white;        
            }
        }
    }
    }
}

