@use '../abstracts/variables' as v;




.products-desktop {
    display: none !important;
}

.products-mobile {
    width: 100%;
    overflow:scroll;
    display: flex;
    .product-card {
        margin-left: 40px;
        img {
            width: 330px;
        }
    }
    .product-card:last-child {
        img{
            margin-right: 40px;
        }
    }
    margin-bottom: 60px;
}

.product-card {
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: v.$primary-color;
    }
}

@media screen and (min-width: 1200px) { 

.products-mobile {
    display: none !important;
}

.products-desktop {
    margin: auto;
    display: grid !important;
}

.product-card {


    img {
        width: 100%;
        border-radius: 20px;
    }
}
}
@media screen and (min-width: 1920px) { 


}